# Python distribution / installation
__pycache__/
*.py[cod]
*$py.class
*.pyd

# Environments
.env
.venv
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS related
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/